@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(139, 198, 151);
}

a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: rgb(46, 26, 199);
}

section{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.inner-link{
    background-color: rgb(205, 145, 49);
    padding: 20px;
    transition: 0.1s ease-in;
    border: 2px solid royalblue;
}

.inner-link:hover{
    background-color: transparent;
}

.sub-head{
    font-size: 13px;
}

.links-section {
    margin-top: 30px;
}
.sub-sec {
    margin: 15px 0px;
}
@media screen and (max-width: 720px) {
    section {
        width: 100%;
    }
}